#alltabs-button,
#personal-bookmarks .bookmark-item .toolbarbutton-icon,
.tab-icon-image {
  display: none !important;
}

#PersonalToolbar {
  max-height: none !important;
}
#PersonalToolbar toolbarbutton {
  padding: 0 10px !important;
}

#PlacesToolbarItems {
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
}
