@-moz-document url("about:home"), url("about:newtab"), url("about:privatebrowsing") {
  * {
    color: #ebdbb2 !important;
  }
  body {
    background-color: #282828 !important;
  }
  .search-inner-wrapper {
    display: none !important;
  }
  .personalize-button {
    display: none !important;
  }
}
